<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestAutomationSuite" parallel="methods" thread-count="5">
    <test name="AllTests" parallel="methods" thread-count="5">
        <classes>
            <class name="com.automation.framework.runners.UIRunner" />
            <class name="com.automation.framework.runners.APIRunner" />
        </classes>
    </test>
</suite>